In [3]:
#question 11 Write a program to classify the social network Advertise data2 using Bay’s
# classification method
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
data = pd.read_csv("C:/Users/Pranav/ML DL practical/Datasets/Social_Network_Ads2.csv")

In [4]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
204  15660866  Female   58           101000          1
205  15766609  Female   47            47000          0
206  15654230  Female   55           130000          1
207  15794566  Female   52           114000          0
208  15800890  Female   40           142000          1

[209 rows x 5 columns]

In [5]:
X = data.iloc[:, 2:4].values  # Using Age and EstimatedSalary as features
y = data["Purchased"].values

# Split the data into a training set and a testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

# Initialize and train the Naive Bayes classifier
classifier = GaussianNB()
classifier.fit(X_train, y_train)

# Predict the target values for the test set
y_pred = classifier.predict(X_test)

# Evaluate the classifier
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")

Confusion Matrix:
[[46  0]
 [ 5  2]]

Classification Report:
              precision    recall  f1-score   support

           0       0.90      1.00      0.95        46
           1       1.00      0.29      0.44         7

    accuracy                           0.91        53
   macro avg       0.95      0.64      0.70        53
weighted avg       0.91      0.91      0.88        53

Accuracy: 0.9056603773584906